* {
	margin: 0;
	padding: 0;
}
a {
	color: #F70;
}
a:hover {
	color: #C60;
}
body {
	font: normal 62.5% "Lucida Sans Unicode",sans-serif;
	margin: 0;
	padding: 0;
	overflow-y: scroll;
	background-color: #2F2F2F;
}
input {
	color: #555;
	font: normal 11px "Lucida Sans Unicode",sans-serif;
}
p,ul {
	font-size: 14px;
	padding-bottom: 10px;
}
h1 {
	font-size: 18px;
	margin-bottom: 4px;
}

h1,h2,h3 {
	color: #06C;
	padding-top: 6px;
}
.clearer {
	clear: both;
}

#mainWrapper {
	width: 960px;
	margin: 0 auto;
}	

.container {
	width: 960px;
	min-height: 450px;
	margin: 0 auto;
/*	background-color: #EBF5FB; */
}

#profileContainer {
	background-image: url(../img/content_bg.png);
}

#contentCHead {
	width: 960px;
	height: 20px;
	background-image: url(../img/top_bottom.png);
/*	background-image: url(../img/content_head_foot.png); */
}

#contentCFoot {
	background-image: url(../img/top_bottom.png);
	width: 960px;
	height: 20px;
	background-position: 0px -20px;
}

.header {
	height: 56px;
/*	background: #004356;*/
	background-image: url(../img/header.jpg);
}
.header_content {
	width: 900px;
	height: 50px;
	margin: 0 auto;
}

/* title */
.title {
	float: left;
	margin: 0;
}
.title h1 {
	color: white;
	font: normal 30px Verdana,sans-serif;
}
.title h1 a {
	color: #FFFFFD;
}
/* navigation */
.navigation {
	margin-left: 200px;
	list-style: none;
	padding-top: 18px;
}
.navigation li {
	float: left;
	width: 60px;
	height: 26px;
	margin-left: 20px;
	padding-top: 2px;
}
.navigation li a:hover {
	background-image: url("../img/navigation.png");
	background-position: 0px -111px;
}
.navigation li a {
	padding-top: 4px;
	padding-left: 7px;
	padding-bottom: 8px;
	padding-right: 15px;
	color: #BBBABA;
	font: bold 16px "Trebuchet MS",sans-serif;
	text-decoration: none;
}
.navigation li a.active {
	color: white;
	background-image: url("../img/navigation.png");
	background-position: 0px -77px;
}
/* main */
.main {
/*	background: #FFF url(../img/bgmain.gif) no-repeat;*/
	clear: both;
	padding: 0px 12px 0 30px;
}

.sidenav {
	float: left;
	width: 200px;
	text-align: left;
}
.sidenav h1 {
	color: #E73;
	font-size: 13px;
	height: 20px;
	margin-top: 1.2em;
}
.sidenav ul {
	margin: 0;
	padding: 0;
}
.sidenav li { 
	list-style: none;
	margin: 0;
}
.sidenav li a {
	color: #777;
	display: block;
	font-size: 11px;
	padding: 3px 6px 3px 18px;
	text-decoration: none;
}
.sidenav li a:hover {
	color: #111;
	text-decoration: underline;
	background: url(../img/nav_li.gif) no-repeat;
}

/* content */
.content {
	float: left;
	margin-right: 50px;
	width: 650px;
	text-align: left;
	padding-top: 10px;
}
.content .descr {
	color: #C60;
	margin-bottom: 6px;
}
.content li {
	list-style: url(../img/li.gif);
	margin-left: 18px;
}
.content a 
{
/*	color: #09F; */
	color: #333;
	text-decoration: none;
}
.content a:hover
{
	color: #00F;
}

/* pageDiv */
.pageDiv
{
	padding: 20px;
	text-align: center;	
}
.pageSpan
{
	border: solid 1px #CCCFFF; 
	padding-left: 3px; 
	padding-right: 3px; 
	padding-top: 2px; 
	padding-bottom: 2px;
	cursor: pointer;
	margin: 3px;
	font-size: 13px;
}
.currentPageSpan
{
	font-weight: bold;
	margin: 3px;
	padding-left: 3px;
	padding-right: 3px;
	font-size: 13px;
}


/* search form */
.styled {
	border: 3px double #E5E5E5;
	padding: 2px 3px;
	font-size: 13px;
	color: #ccc;
}
.button {
	border: 1px solid #AAA;
	margin-left: 5px;
	padding: 2px 3px;
}

/* footer */
.footer {
	background-image: url(../img/foot_bg.png);
	background-repeat: repeat;
	color: #aaa;
	height: 260px;
	width: 100%
	font-size: 12px;
	text-align: center;
	font-family: Tahoma, Verdana, STHeiTi, simsun, sans-serif;
}
.footer a {
	color: #aaa;
	text-decoration: underline;
}
.footer a:hover {
	color: white;
}

img
{
	cursor: pointer;
}

#albumContent {
	width: 860px;
	margin: 0 auto;
}

.albumDiv
{
	margin-left: 20px;
	background-repeat: no-repeat;
	width: 210px; 
	height:210px; 
	cursor: pointer;
	padding-top: 1px;
	background-image: url('../img/album_bg.gif');
	padding: 2px;
	text-align: left;
}

