<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" 
	xmlns="http://java.sun.com/xml/ns/javaee" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee 
	http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
	<welcome-file-list>
		<welcome-file>index</welcome-file>
	</welcome-file-list>

	<servlet>
		<servlet-name>GetIndexArticlesServlet</servlet-name>
		<servlet-class>com.eazow.blog.servlet.GetIndexArticlesServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>GetArticleServlet</servlet-name>
		<servlet-class>com.eazow.blog.servlet.GetArticleServlet</servlet-class>
	</servlet>
	<servlet>
	  <servlet-name>AddCommentServlet</servlet-name>
	  <servlet-class>com.eazow.blog.servlet.AddCommentServlet</servlet-class>
	</servlet>
	<servlet>
	  <servlet-name>GetArticlesOfCategoryServlet</servlet-name>
	  <servlet-class>com.eazow.blog.servlet.GetArticlesOfCategoryServlet</servlet-class>
	</servlet>
	<servlet>
	  <servlet-name>GetVerificationCodeServlet</servlet-name>
	  <servlet-class>com.eazow.blog.servlet.GetVerificationCodeServlet</servlet-class>
	</servlet>
	<servlet>
	  <servlet-name>GetAboutAdminServlet</servlet-name>
	  <servlet-class>com.eazow.blog.servlet.admin.GetAboutAdminServlet</servlet-class>
	</servlet>
	<servlet>
	  <servlet-name>GetLatestImagesServlet</servlet-name>
	  <servlet-class>com.eazow.blog.servlet.GetLatestImagesServlet</servlet-class>
	</servlet>
	<servlet>
	  <servlet-name>GetAllAlbumsServlet</servlet-name>
	  <servlet-class>com.eazow.blog.servlet.GetAllAlbumsServlet</servlet-class>
	</servlet>
	<servlet>
	  <servlet-name>GetImagesOfAlbumServlet</servlet-name>
	  <servlet-class>com.eazow.blog.servlet.GetImagesOfAlbumServlet</servlet-class>
	</servlet>
	<servlet>
	  <servlet-name>BrowseImageOfAlbumServlet</servlet-name>
	  <servlet-class>com.eazow.blog.servlet.BrowseImageOfAlbumServlet</servlet-class>
	</servlet>
	<servlet>
	  <servlet-name>BrowseNextImageOfAlbumServlet</servlet-name>
	  <servlet-class>com.eazow.blog.servlet.BrowseNextImageOfAlbumServlet</servlet-class>
	</servlet>
	<servlet>
	  <servlet-name>BrowsePreviousImageOfAlbumServlet</servlet-name>
	  <servlet-class>com.eazow.blog.servlet.BrowsePreviousImageOfAlbumServlet</servlet-class>
	</servlet>
	<servlet>
	  <servlet-name>GetProfileServlet</servlet-name>
	  <servlet-class>com.eazow.blog.servlet.GetProfileServlet</servlet-class>
	</servlet>
	<servlet>
	  <servlet-name>GetArticlesByArticleArchiveServlet</servlet-name>
	  <servlet-class>com.eazow.blog.servlet.GetArticlesByArticleArchiveServlet</servlet-class>
	</servlet>
	<servlet>
	  <servlet-name>ManageDraftsAdminServlet</servlet-name>
	  <servlet-class>com.eazow.blog.servlet.admin.ManageDraftsAdminServlet</servlet-class>
	</servlet>
	
	
	<!-- Admin Servlet Start -->
	<servlet>
	  <servlet-name>LoginAdminServlet</servlet-name>
	  <servlet-class>com.eazow.blog.servlet.admin.LoginAdminServlet</servlet-class>
	</servlet>
	<servlet>
	  <servlet-name>ManageArticlesAdminServlet</servlet-name>
	  <servlet-class>com.eazow.blog.servlet.admin.ManageArticlesAdminServlet</servlet-class>
	</servlet>
	<servlet>
	  <servlet-name>ManageArticleAdminServlet</servlet-name>
	  <servlet-class>com.eazow.blog.servlet.admin.ManageArticleAdminServlet</servlet-class>
	</servlet>
	<servlet>
	  <servlet-name>DeleteCommentAdminServlet</servlet-name>
	  <servlet-class>com.eazow.blog.servlet.admin.DeleteCommentAdminServlet</servlet-class>
	</servlet>
	<servlet>
	  <servlet-name>PreAddArticleAdminServlet</servlet-name>
	  <servlet-class>com.eazow.blog.servlet.admin.PreAddArticleAdminServlet</servlet-class>
	</servlet>
	<servlet>
	  <servlet-name>AddArticleAdminServlet</servlet-name>
	  <servlet-class>com.eazow.blog.servlet.admin.AddArticleAdminServlet</servlet-class>
	</servlet>
	<servlet>
	  <servlet-name>DeleteArticleAdminServlet</servlet-name>
	  <servlet-class>com.eazow.blog.servlet.admin.DeleteArticleAdminServlet</servlet-class>
	</servlet>
	<servlet>
	  <servlet-name>ManageCategoriesAdminServlet</servlet-name>
	  <servlet-class>com.eazow.blog.servlet.admin.ManageCategoriesAdminServlet</servlet-class>
	</servlet>
	<servlet>
	  <servlet-name>ManageArticlesOfCategoryAdminServlet</servlet-name>
	  <servlet-class>com.eazow.blog.servlet.admin.ManageArticlesOfCategoryAdminServlet</servlet-class>
	</servlet>
	<servlet>
	  <servlet-name>UpdateCategoryNameAdminServlet</servlet-name>
	  <servlet-class>com.eazow.blog.servlet.admin.UpdateCategoryNameAdminServlet</servlet-class>
	</servlet>
	<servlet>
	  <servlet-name>DeleteCategoryAdminServlet</servlet-name>
	  <servlet-class>com.eazow.blog.servlet.admin.DeleteCategoryAdminServlet</servlet-class>
	</servlet>
	<servlet>
	  <servlet-name>UpdateArticlesNumOfCategoryAdminServlet</servlet-name>
	  <servlet-class>com.eazow.blog.servlet.admin.UpdateArticlesNumOfCategoryAdminServlet</servlet-class>
	</servlet>
	<servlet>
	  <servlet-name>AddCategoryAdminServlet</servlet-name>
	  <servlet-class>com.eazow.blog.servlet.admin.AddCategoryAdminServlet</servlet-class>
	</servlet>
	<servlet>
	  <servlet-name>AjaxAddCategoryAdminServlet</servlet-name>
	  <servlet-class>com.eazow.blog.servlet.admin.AjaxAddCategoryAdminServlet</servlet-class>
	</servlet>
	<servlet>
	  <servlet-name>PreLoginAdminServlet</servlet-name>
	  <servlet-class>com.eazow.blog.servlet.admin.PreLoginAdminServlet</servlet-class>
	</servlet>
	<servlet>
	  <servlet-name>ManageArticleArchivesAdminServlet</servlet-name>
	  <servlet-class>com.eazow.blog.servlet.admin.ManageArticleArchivesAdminServlet</servlet-class>
	</servlet>
	<servlet>
	  <servlet-name>AddDraftAdminServlet</servlet-name>
	  <servlet-class>com.eazow.blog.servlet.admin.AddDraftAdminServlet</servlet-class>
	</servlet>
	<servlet>
	  <servlet-name>PostDraftAdminServlet</servlet-name>
	  <servlet-class>com.eazow.blog.servlet.admin.PostDraftAdminServlet</servlet-class>
	</servlet>
	<servlet>
	  <servlet-name>DeleteDraftAdminServlet</servlet-name>
	  <servlet-class>com.eazow.blog.servlet.admin.DeleteDraftAdminServlet</servlet-class>
	</servlet>
	<servlet>
	  <servlet-name>PreEditArticleAdminServlet</servlet-name>
	  <servlet-class>com.eazow.blog.servlet.admin.PreEditArticleAdminServlet</servlet-class>
	</servlet>
	<servlet>
	  <servlet-name>UpdateArticleAdminServlet</servlet-name>
	  <servlet-class>com.eazow.blog.servlet.admin.UpdateArticleAdminServlet</servlet-class>
	</servlet>
	<servlet>
	  <servlet-name>ManageVisitRecordsAdminServlet</servlet-name>
	  <servlet-class>com.eazow.blog.servlet.admin.ManageVisitRecordsAdminServlet</servlet-class>
	</servlet>
	<servlet>
	  <servlet-name>ManageCommentsAdminServlet</servlet-name>
	  <servlet-class>com.eazow.blog.servlet.admin.ManageCommentsAdminServlet</servlet-class>
	</servlet>
	<servlet>
	  <servlet-name>ManageMottosAdminServlet</servlet-name>
	  <servlet-class>com.eazow.blog.servlet.admin.ManageMottosAdminServlet</servlet-class>
	</servlet>
	<servlet>
	  <servlet-name>AddMottoAdminServlet</servlet-name>
	  <servlet-class>com.eazow.blog.servlet.admin.AddMottoAdminServlet</servlet-class>
	</servlet>
	<servlet>
	  <servlet-name>GetArticlesOfTagServlet</servlet-name>
	  <servlet-class>com.eazow.blog.servlet.GetArticlesOfTagServlet</servlet-class>
	</servlet>
	<servlet>
	  <servlet-name>ManageTagsAdminServlet</servlet-name>
	  <servlet-class>com.eazow.blog.servlet.admin.ManageTagsAdminServlet</servlet-class>
	</servlet>
	<servlet>
	  <servlet-name>DeleteVisitRecordAdminServlet</servlet-name>
	  <servlet-class>com.eazow.blog.servlet.admin.DeleteVisitRecordAdminServlet</servlet-class>
	</servlet>
	<servlet>
	  <servlet-name>ManageArticlesOfTagAdminServlet</servlet-name>
	  <servlet-class>com.eazow.blog.servlet.admin.ManageArticlesOfTagAdminServlet</servlet-class>
	</servlet>
	<servlet>
	  <servlet-name>DeleteTagAdminServlet</servlet-name>
	  <servlet-class>com.eazow.blog.servlet.admin.DeleteTagAdminServlet</servlet-class>
	</servlet>
	<servlet>
	  <servlet-name>PreEditArticleArchiveAdminServlet</servlet-name>
	  <servlet-class>com.eazow.blog.servlet.admin.PreEditArticleArchiveAdminServlet</servlet-class>
	</servlet>
	<servlet>
	  <servlet-name>UpdateArticleArchivesAdminServlet</servlet-name>
	  <servlet-class>com.eazow.blog.servlet.admin.UpdateArticleArchivesAdminServlet</servlet-class>
	</servlet>
	<servlet>
	  <servlet-name>PreEditCommentAdminServlet</servlet-name>
	  <servlet-class>com.eazow.blog.servlet.admin.PreEditCommentAdminServlet</servlet-class>
	</servlet>
	<servlet>
	  <servlet-name>UpdateCommentAdminServlet</servlet-name>
	  <servlet-class>com.eazow.blog.servlet.admin.UpdateCommentAdminServlet</servlet-class>
	</servlet>
	<servlet>
	  <servlet-name>AddMessageServlet</servlet-name>
	  <servlet-class>com.eazow.blog.servlet.AddMessageServlet</servlet-class>
	</servlet>
	<servlet>
	  <servlet-name>ManageMessagesAdminServlet</servlet-name>
	  <servlet-class>com.eazow.blog.servlet.admin.ManageMessagesAdminServlet</servlet-class>
	</servlet>
	<servlet>
	  <servlet-name>PreEditMessageAdminServlet</servlet-name>
	  <servlet-class>com.eazow.blog.servlet.admin.PreEditMessageAdminServlet</servlet-class>
	</servlet>
	<servlet>
	  <servlet-name>DeleteMessageAdminServlet</servlet-name>
	  <servlet-class>com.eazow.blog.servlet.admin.DeleteMessageAdminServlet</servlet-class>
	</servlet>
	<servlet>
	  <servlet-name>UpdateMessageAdminServlet</servlet-name>
	  <servlet-class>com.eazow.blog.servlet.admin.UpdateMessageAdminServlet</servlet-class>
	</servlet>
	<servlet>
	  <servlet-name>SearchArticlesServlet</servlet-name>
	  <servlet-class>com.eazow.blog.servlet.SearchArticlesServlet</servlet-class>
	</servlet>
	<servlet>
	  <servlet-name>ManageAlbumsAdminServlet</servlet-name>
	  <servlet-class>com.eazow.blog.servlet.admin.album.ManageAlbumsAdminServlet</servlet-class>
	</servlet>
	<servlet>
	  <servlet-name>ManageLatestImagesAdminServlet</servlet-name>
	  <servlet-class>com.eazow.blog.servlet.admin.album.ManageLatestImagesAdminServlet</servlet-class>
	</servlet>
	<servlet>
	  <servlet-name>ManageImageOfAlbumAdminServlet</servlet-name>
	  <servlet-class>com.eazow.blog.servlet.admin.album.ManageImageOfAlbumAdminServlet</servlet-class>
	</servlet>
	<servlet>
	  <servlet-name>ManageImagesOfAlbumAdminServlet</servlet-name>
	  <servlet-class>com.eazow.blog.servlet.admin.album.ManageImagesOfAlbumAdminServlet</servlet-class>
	</servlet>
	<servlet>
	  <servlet-name>ManageNextImageOfAlbumAdminServlet</servlet-name>
	  <servlet-class>com.eazow.blog.servlet.admin.album.ManageNextImageOfAlbumAdminServlet</servlet-class>
	</servlet>
	<servlet>
	  <servlet-name>ManagePreviousImageOfAlbumAdminServlet</servlet-name>
	  <servlet-class>com.eazow.blog.servlet.admin.album.ManagePreviousImageOfAlbumAdminServlet</servlet-class>
	</servlet>
	<servlet>
	  <servlet-name>PreUploadImageAdminServlet</servlet-name>
	  <servlet-class>com.eazow.blog.servlet.admin.album.PreUploadImageAdminServlet</servlet-class>
	</servlet>
	<servlet>
	  <servlet-name>DeleteAlbumAdminServlet</servlet-name>
	  <servlet-class>com.eazow.blog.servlet.admin.DeleteAlbumAdminServlet</servlet-class>
	</servlet>
	<servlet>
	  <servlet-name>AjaxAddAlbumAdminServlet</servlet-name>
	  <servlet-class>com.eazow.blog.servlet.admin.AjaxAddAlbumAdminServlet</servlet-class>
	</servlet>
	<servlet>
	  <servlet-name>DeleteImageAdminServlet</servlet-name>
	  <servlet-class>com.eazow.blog.servlet.admin.album.DeleteImageAdminServlet</servlet-class>
	</servlet>
  <servlet>
    <servlet-name>UploadImagesAdminServlet</servlet-name>
    <servlet-class>com.eazow.blog.servlet.admin.album.UploadImagesAdminServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>TestServlet</servlet-name>
    <servlet-class>com.eazow.blog.test.TestServlet</servlet-class>
  </servlet>


	<!-- Admin Servlet End -->


	<servlet-mapping>
		<servlet-name>GetIndexArticlesServlet</servlet-name>
		<url-pattern>/index</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>GetArticleServlet</servlet-name>
		<url-pattern>/article</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
	  <servlet-name>AddCommentServlet</servlet-name>
	  <url-pattern>/addCommentServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
	  <servlet-name>GetArticlesOfCategoryServlet</servlet-name>
	  <url-pattern>/getArticlesOfCategoryServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
	  <servlet-name>GetVerificationCodeServlet</servlet-name>
	  <url-pattern>/getVerificationCodeServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
	  <servlet-name>GetAboutAdminServlet</servlet-name>
	  <url-pattern>/admin/getAboutAdminServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
	  <servlet-name>GetProfileServlet</servlet-name>
	  <url-pattern>/profile</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
	  <servlet-name>GetAllAlbumsServlet</servlet-name>
	  <url-pattern>/albums</url-pattern>
	</servlet-mapping>
	
	

	<!-- Admin Servlet Mapping Start -->
	<servlet-mapping>
	  <servlet-name>LoginAdminServlet</servlet-name>
	  <url-pattern>/admin/loginAdminServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
	  <servlet-name>ManageArticlesAdminServlet</servlet-name>
	  <url-pattern>/admin/manageArticlesAdminServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
	  <servlet-name>ManageArticleAdminServlet</servlet-name>
	  <url-pattern>/admin/manageArticleAdminServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
	  <servlet-name>DeleteCommentAdminServlet</servlet-name>
	  <url-pattern>/admin/deleteCommentAdminServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
	  <servlet-name>PreAddArticleAdminServlet</servlet-name>
	  <url-pattern>/admin/preAddArticleAdminServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
	  <servlet-name>AddArticleAdminServlet</servlet-name>
	  <url-pattern>/admin/addArticleAdminServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
	  <servlet-name>DeleteArticleAdminServlet</servlet-name>
	  <url-pattern>/admin/deleteArticleAdminServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
	  <servlet-name>ManageCategoriesAdminServlet</servlet-name>
	  <url-pattern>/admin/manageCategoriesAdminServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
	  <servlet-name>ManageArticlesOfCategoryAdminServlet</servlet-name>
	  <url-pattern>/admin/manageArticlesOfCategoryAdminServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
	  <servlet-name>UpdateCategoryNameAdminServlet</servlet-name>
	  <url-pattern>/admin/updateCategoryNameAdminServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
	  <servlet-name>DeleteCategoryAdminServlet</servlet-name>
	  <url-pattern>/admin/deleteCategoryAdminServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
	  <servlet-name>UpdateArticlesNumOfCategoryAdminServlet</servlet-name>
	  <url-pattern>/admin/updateArticlesNumOfCategoryAdminServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
	  <servlet-name>AddCategoryAdminServlet</servlet-name>
	  <url-pattern>/admin/addCategoryAdminServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
	  <servlet-name>AjaxAddCategoryAdminServlet</servlet-name>
	  <url-pattern>/admin/ajaxAddCategoryAdminServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
	  <servlet-name>PreLoginAdminServlet</servlet-name>
	  <url-pattern>/admin/preLoginAdminServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
	  <servlet-name>GetLatestImagesServlet</servlet-name>
	  <url-pattern>/getLatestImagesServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
	  <servlet-name>GetImagesOfAlbumServlet</servlet-name>
	  <url-pattern>/getImagesOfAlbumServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
	  <servlet-name>BrowseImageOfAlbumServlet</servlet-name>
	  <url-pattern>/browseImageOfAlbumServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
	  <servlet-name>BrowseNextImageOfAlbumServlet</servlet-name>
	  <url-pattern>/browseNextImageOfAlbumServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
	  <servlet-name>BrowsePreviousImageOfAlbumServlet</servlet-name>
	  <url-pattern>/browsePreviousImageOfAlbumServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
	  <servlet-name>GetArticlesByArticleArchiveServlet</servlet-name>
	  <url-pattern>/getArticlesByArticleArchiveServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
	  <servlet-name>ManageDraftsAdminServlet</servlet-name>
	  <url-pattern>/admin/manageDraftsAdminServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
	  <servlet-name>ManageArticleArchivesAdminServlet</servlet-name>
	  <url-pattern>/admin/manageArticleArchivesAdminServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
	  <servlet-name>AddDraftAdminServlet</servlet-name>
	  <url-pattern>/admin/addDraftAdminServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
	  <servlet-name>PostDraftAdminServlet</servlet-name>
	  <url-pattern>/admin/postDraftAdminServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
	  <servlet-name>DeleteDraftAdminServlet</servlet-name>
	  <url-pattern>/admin/deleteDraftAdminServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
	  <servlet-name>PreEditArticleAdminServlet</servlet-name>
	  <url-pattern>/admin/preEditArticleAdminServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
	  <servlet-name>UpdateArticleAdminServlet</servlet-name>
	  <url-pattern>/admin/updateArticleAdminServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
	  <servlet-name>ManageVisitRecordsAdminServlet</servlet-name>
	  <url-pattern>/admin/manageVisitRecordsAdminServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
	  <servlet-name>ManageCommentsAdminServlet</servlet-name>
	  <url-pattern>/admin/manageCommentsAdminServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
	  <servlet-name>ManageMottosAdminServlet</servlet-name>
	  <url-pattern>/admin/manageMottosAdminServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
	  <servlet-name>AddMottoAdminServlet</servlet-name>
	  <url-pattern>/admin/addMottoAdminServlet</url-pattern>
	</servlet-mapping>
	<!-- Admin Servlet Mapping End -->
	
	<servlet-mapping>
	  <servlet-name>GetArticlesOfTagServlet</servlet-name>
	  <url-pattern>/getArticlesOfTagServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
	  <servlet-name>ManageTagsAdminServlet</servlet-name>
	  <url-pattern>/admin/manageTagsAdminServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
	  <servlet-name>DeleteVisitRecordAdminServlet</servlet-name>
	  <url-pattern>/admin/deleteVisitRecordAdminServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
	  <servlet-name>ManageArticlesOfTagAdminServlet</servlet-name>
	  <url-pattern>/admin/manageArticlesOfTagAdminServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
	  <servlet-name>DeleteTagAdminServlet</servlet-name>
	  <url-pattern>/admin/deleteTagAdminServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
	  <servlet-name>PreEditArticleArchiveAdminServlet</servlet-name>
	  <url-pattern>/admin/preEditArticleArchiveAdminServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
	  <servlet-name>UpdateArticleArchivesAdminServlet</servlet-name>
	  <url-pattern>/admin/updateArticleArchivesAdminServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
	  <servlet-name>PreEditCommentAdminServlet</servlet-name>
	  <url-pattern>/admin/preEditCommentAdminServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
	  <servlet-name>UpdateCommentAdminServlet</servlet-name>
	  <url-pattern>/admin/updateCommentAdminServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
	  <servlet-name>AddMessageServlet</servlet-name>
	  <url-pattern>/addMessageServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
	  <servlet-name>ManageMessagesAdminServlet</servlet-name>
	  <url-pattern>/admin/manageMessagesAdminServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
	  <servlet-name>PreEditMessageAdminServlet</servlet-name>
	  <url-pattern>/admin/preEditMessageAdminServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
	  <servlet-name>DeleteMessageAdminServlet</servlet-name>
	  <url-pattern>/admin/deleteMessageAdminServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
	  <servlet-name>UpdateMessageAdminServlet</servlet-name>
	  <url-pattern>/admin/updateMessageAdminServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
	  <servlet-name>SearchArticlesServlet</servlet-name>
	  <url-pattern>/searchArticlesServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
	  <servlet-name>ManageAlbumsAdminServlet</servlet-name>
	  <url-pattern>/admin/manageAlbumsAdminServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
	  <servlet-name>ManageLatestImagesAdminServlet</servlet-name>
	  <url-pattern>/admin/manageLatestImagesAdminServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
	  <servlet-name>ManageImageOfAlbumAdminServlet</servlet-name>
	  <url-pattern>/admin/manageImageOfAlbumAdminServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
	  <servlet-name>ManageImagesOfAlbumAdminServlet</servlet-name>
	  <url-pattern>/admin/manageImagesOfAlbumAdminServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
	  <servlet-name>ManageNextImageOfAlbumAdminServlet</servlet-name>
	  <url-pattern>/admin/manageNextImageOfAlbumAdminServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
	  <servlet-name>ManagePreviousImageOfAlbumAdminServlet</servlet-name>
	  <url-pattern>/admin/managePreviousImageOfAlbumAdminServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
	  <servlet-name>PreUploadImageAdminServlet</servlet-name>
	  <url-pattern>/admin/preUploadImageAdminServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
	  <servlet-name>DeleteAlbumAdminServlet</servlet-name>
	  <url-pattern>/admin/deleteAlbumAdminServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
	  <servlet-name>AjaxAddAlbumAdminServlet</servlet-name>
	  <url-pattern>/admin/ajaxAddAlbumAdminServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
	  <servlet-name>DeleteImageAdminServlet</servlet-name>
	  <url-pattern>/admin/deleteImageAdminServlet</url-pattern>
	</servlet-mapping>
  <servlet-mapping>
    <servlet-name>UploadImagesAdminServlet</servlet-name>
    <url-pattern>/admin/uploadImagesAdminServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>TestServlet</servlet-name>
    <url-pattern>/testServlet</url-pattern>
  </servlet-mapping>
 
	
	<!-- 错误处理 -->
	<error-page>
		<error-code>400</error-code>
		<location>/error.jsp</location>
	</error-page>
	<error-page>
		<error-code>404</error-code>
		<location>/error.jsp</location>
	</error-page>
	
	<!-- 非法访问JSP Filter -->
	<filter>
		<filter-name>AccessJSPDirectlyFilter</filter-name>
		<filter-class>com.eazow.blog.filter.AccessJSPDirectlyFilter</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>AccessJSPDirectlyFilter</filter-name>
		<url-pattern>*.jsp</url-pattern>
	</filter-mapping>
	<!-- 身份验证Filter -->
	<filter>
		<filter-name>AuthenticationFilter</filter-name>
		<filter-class>com.eazow.blog.filter.AuthenticationFilter</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>AuthenticationFilter</filter-name>
		<url-pattern>/admin/*</url-pattern>
	</filter-mapping>
		
	
</web-app>
